<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation File Generator</title>
	<STYLE type="text/css">#content{ FONT-SIZE: 0.7em; PADDING-BOTTOM: 2em; MARGIN-LEFT: 30px}BODY{MARGIN-TOP: 0px; MARGIN-LEFT: 0px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white}P{MARGIN-TOP: 0px; MARGIN-BOTTOM: 12px; COLOR: #000000; FONT-FAMILY: Verdana}PRE{BORDER-RIGHT: #f0f0e0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f0f0e0 1px solid; MARGIN-TOP: -5px; PADDING-LEFT: 5px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 5px; BORDER-LEFT: #f0f0e0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f0f0e0 1px solid; FONT-FAMILY: Courier New; BACKGROUND-COLOR: #e5e5cc}.heading1{MARGIN-TOP: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 26px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 3px; MARGIN-LEFT: -30px; WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 10px; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #003366}.intro{MARGIN-LEFT: -15px;FONT-SIZE: 1.17em;}
	
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
	  overflow:hidden;padding:10px 5px;word-break:normal;}
	.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
	  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
	.tg .tg-d5ku{background-color:#003366;border-color:#000000;color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
	.tg .tg-0lax{text-align:left;vertical-align:top}
	</STYLE>
</head>
<body>
<div id="content">
	<P class="heading1">Documentation File Generator</P>

	<br>
	<br>
	<P class='intro'>
		<B>How to use File Generator</B>
	</P>
	
	<font color="blue">Example </font><font color="teal">URL to generate PDF file</font><br><br>
	http://IP_Server:port_use/generate-file/print?name=Berkas01&idTemplate=1&fileType=pdf&content=3310020601800001*John_Smith*06-01-1580*12345678*24-09-2020*10000000*24-09-2020*24-09-2021*5*500000*24-09-2020*Sepuluh_Juta*Lima_Ratus_Ribu&userId=testing
	<br>
	<br>
	<br>
</div>
	
</body>
</html>