<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>

        body {
            margin:0;
        }

        table, th, td {
            border: 0px hidden black;
        }

        table {
            border-collapse: collapse;
            margin : 0px auto;
            width: 297mm;
            max-width: 297mm;
            min-width: 297mm;

            height: 210mm;
            max-height: 210mm;
            min-height: 210mm;

            font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
            text-align: justify;

        }

        th {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            text-align:right;
        }

        tr td {
            width: 50%;
            font-size: 13px;
            line-height: 14pt;
        }

        .page-footer {
            height: 51px;
            text-align:right;
        }

        .page-number{
            padding-right: 1in;
        }

        ol {
            margin:0;
        }

        li{
            padding-left:0.5em;
        }

        ol.level-one{
            list-style-type: decimal;
            padding-left: 0.125in;
        }

        ol.level-two{
            list-style-type: lower-alpha;
            padding-left: 0.25in;
        }

        .title {
            text-align:center;
            padding-top: 10px;
            font-size: 17px;
            line-height: 0pt;
        }

        .note-bene{
            font-size: 12px;
        }

        @page {
            size: A4 landscape;
            margin: 0;
        }
    </style>
</head>
<body>
    <table>
        <tr style="height: 96px;">
            <th> </th>
            <th style="padding-right: 3cm;">
            </th>
        </tr>
        <tr>
            <td valign="top" style="padding:0in 0.25in 0in 1in;">
                <div class="title" ><b>PERJANJIAN KREDIT BNI FLEKSI</b>
                </div>
                <br/>
                Nama lengkap Pemohon / Debitur (sesuai KTP / Paspor) :<br/>
                <b th:text="${name}"></b>
                <br/>
                Tanggal Lahir       : <span th:text="${birthday}"></span>
                <br/>
                No. Identitas (KTP/Paspor)	: <span th:text="${id_ktp}"></span>
                <br/>
                <br/>
                Dengan menandatangani Perjanjian ini, pemohon BNI FLEKSI (selanjutnya disebut PENERIMA KREDIT) dan PT. Bank Negara Indonesia (Persero) Tbk. (selanjutnya disebut BNI) sepakat mengadakan Perjanjian BNI FLEKSI, dengan ketentuan dan syarat sebagai berikut :
                <br/>
                <br/>
                <ol class="level-one" >
                    <li>Berdasarkan permohonan kredit No. <span th:text="${no_app}"></span> tanggal <span th:text="${app_date}"></span> PENERIMA KREDIT  telah mengajukan fasilitas kredit BNI FLEKSI melalui e-channel BNI.</li>
                    <li>E-channel BNI terdiri dari ATM, Website, SMS Banking, Mobile Banking dan Internet Banking.</li>
                    <li>Lembar persetujuan pemohon merupakan bagian yang tidak terpisahkan dari Perjanjian ini.</li>
                </ol>
                <br/>
                Berdasarkan hal-hal tersebut di atas, Para Pihak dengan ini sepakat mengadakan Perjanjian dengan ketentuan-ketentuan dan syarat-syarat sebagai berikut :
                <br/>
                <br/>
                <ol class="level-one" >
                    <li>Jumlah fasilitas kredit yang diberikan oleh BNI kepada PENERIMA KREDIT adalah sebesar Rp <span th:text="${kredit_max}"></span> (<span th:text="${kredit_max_text}"></span> rupiah).</li>
                    <li>Bentuk kredit adalah aflopend (penarikannya hanya dapat dilakukan satu kali selama jangka waktu kredit).</li>
                    <li>Tanggal mulai berlakunya jangka waktu kredit sesuai dengan tanggal persetujuan atas keputusan kredit oleh PENERIMA KREDIT No .... terhitung sejak tanggal <span th:text="${kredit_start_date}"></span> sampai dengan tanggal <span th:text="${kredit_end_date}"></span>.</li>
                </ol>
            </td>
            <td valign="top" style="padding:0in 1in 0in 0in;">
                <ol start="4">
                    <li>Suku bunga sebesar <span th:text="${interest_percen}"></span> % efektif (fixed) per tahun.</li>
                    <li>Terkait pencairan kredit :</li>
                    <ol class="level-two" >
                        <li>BNI akan melakukan pencairan kredit setelah PENERIMA KREDIT memenuhi semua persyaratan yang telah ditetapkan dalam Perjanjian ini dan BNI berhak menolak melakukan pencairan kredit apabila akan berakibat pelanggaran terhadap ketentuan/peraturan perundang-undangan yang berlaku.</li>
                        <li>BNI akan melakukan pencairan kredit dengan cara mengkredit ke rekening Taplus/TAPPA atas nama PENERIMA KREDIT yang digunakan untuk pembayaran gaji (payroll).</li>
                        <li>Tindakan BNI untuk mencairkan fasilitas kredit yang telah diperhitungkan dengan biaya-biaya terkait dengan cara melakukan pengkreditan dana tersebut ke rekening Taplus/TAPPA PENERIMA KREDIT merupakan bukti tanda terima fasilitas kredit dari BNI kepada PENERIMA KREDIT yang mengikat kedua belah pihak.</li>
                    </ol>
                    <li>Terkait dengan pembayaran angsuran kredit :</li>
                    <ol class="level-two" >
                        <li>PENERIMA KREDIT diwajibkan melakukan pembayaran dalam bentuk angsuran kredit yang terdiri dari angsuran pokok ditambah bunga setiap bulannya sebesar Rp <span th:text="${interest_rp}"></span> (<span th:text="${interest_max_text}"></span> rupiah).</li>
                        <li>Pembayaran angsuran kredit dilaksanakan dengan cara membebani/mendebet rekening afiliasi Taplus/TAPPA atas nama PENERIMA KREDIT yang dibuka pada BNI sebagaimana yang dimaksud pada butir 5 huruf b Perjanjian ini.</li>
                        <li>Guna kelancaran pembayaran angsuran kredit setiap bulannya, sejak tanggal penandatanganan Perjanjian Kredit ini sampai dengan kredit lunas, PENERIMA KREDIT wajib untuk memelihara saldo rekening afiliasi sebagaimana dimaksud pada butir 6 huruf b perjanjian ini sebesar satu kali angsuran kredit pertama ditambah saldo minimum rekening afiliasi, dan selanjutnya diblokir oleh BNI, karenanya PENERIMA KREDIT memberi kuasa</li>
                    </ol>
                </ol>
            </td>
        </tr>
        <tr class="page-footer">
            <td></td>
            <td class="page-number">1</td>
        </tr>
    </table>


    <table>
        <tr style="height: 96px;">
            <th></th>
            <th style="padding-right: 3cm;">LAMPIRAN III</th>
        </tr>
        <tr>
            <td valign="top" style="padding:0in 0.25in 0in 0.7in;">
                <span style="padding-left: 0.75in;">
                     kepada BNI untuk memblokir rekening dimaksud.
                </span>
                <br/>
                <br/>
                <ol start="7">
                    <li>Terkait dengan denda tunggakan :</li>
                    <ol class="level-two" >
                        <li>Denda tunggakan adalah kewajiban yang harus dibayar oleh PENERIMA KREDIT kepada BNI karena tidak terpenuhinya pembayaran angsuran kredit, atau tidak dilunasinya kredit sebagai akibat diakhirinya jangka waktu kredit secara sepihak oleh BNI.</li>
                        <li>Denda tunggakan adalah <b>2.5 % ( dua koma lima persen )</b>  per bulan dihitung dari besarnya angsuran yang tertunggak.</li>
                        <li>Selama PENERIMA KREDIT mempunyai tunggakan, maka setiap setoran PENERIMA KREDIT kepada BNI akan diperhitungkan terlebih dahulu oleh BNI sebagai pembayaran tunggakan dimaksud. </li>
                    </ol>
                    <li>Terkait dengan jaminan :</li>
                    <ol class="level-two" >
                        <li>Guna lebih menjamin pembayaran kembali kredit oleh PENERIMA KREDIT kepada BNI maka PENERIMA KREDIT tidak akan memindahkan rekening Taplus/TAPPA sebagai rekening gaji/payroll.</li>
                        <li>Sumber pembayaran angsuran kredit berasal dari pendapatan tetap atau pembayaran gaji PENERIMA KREDIT yang diterima setiap bulannya.</li>
                    </ol>
                    <li>Sebagai pelaksanaan Perjanjian ini, BNI membuka rekening koran tersendiri atas nama PENERIMA KREDIT yang dinamakan rekening pinjaman. Dalam menggunakan rekening pinjaman tersebut, PENERIMA KREDIT tunduk kepada ketentuan-ketentuan umum mengenai hubungan rekening koran pada BNI.</li>
                    <li>Menyimpang dari jangka waktu yang telah ditentukan di dalam Perjanjian Kredit ini, BNI berhak mengakhiri jangka waktu kredit ini sehingga PENERIMA KREDIT wajib membayar lunas seketika dan sekaligus atas kredit yang telah ditariknya dalam tenggang waktu yang ditetapkan dalam Surat Pemberitahuan BNI kepada PENERIMA KREDIT dengan mengesampingkan pasal 1266 KUHPerdata, bila :</li>
                </ol>
            </td>
            <td valign="top" style="padding-right: 1in;">
                <ol start="11">
                    <ol class="level-two" >
                        <li>PENERIMA KREDIT tidak memenuhi ketentuan-ketentuan dalam Perjanjian Kredit ini sebagaimana mestinya.</li>
                        <li>PENERIMA KREDIT melakukan perbuatan dan atau terjadinya peristiwa dalam bentuk dan dengan nama apapun yang dapat mengancam kelangsungan pembayaran kewajiban PENERIMA KREDIT kepada BNI.</li>
                    </ol>
                    <li>Asuransi:</li>
                    <ol class="level-two" >
                        <li>PENERIMA KREDIT wajib menutup asuransi jiwa  terhadap dirinya pada Perusahaan Asuransi Jiwa yang merupakan rekanan BNI, dengan nilai pertanggungan sebesar nilai maksimum kredit sesuai Perjanjian Kredit ini dan jangka waktu penutupan asuransi sama dengan jangka waktu Perjanjian Kredit ini. </li>
                        <li>Premi asuransi jiwa sebagaimana dimaksud pada ayat (1) Pasal ini harus sudah dibayar lunas atau dicadangkan oleh PENERIMA KREDIT dibawah penguasaan BNI sebelum dilakukan pencairan kredit.</li>
                        <li>Dalam Polis Asuransi sebagaimana dimaksud pada ayat (1) dan (2) Pasal ini, harus dicantumkan Banker's Clause BNI, sehingga jika ada pembayaran klaim dari Pihak Perusahaan Asuransi, maka BNI berhak untuk memperhitungkan hasil pembayaran klaim tersebut dengan seluruh kewajiban PENERIMA KREDIT kepada BNI.</li>
                        <li>Sewaktu-waktu tanpa persetujuan dari PENERIMA KREDIT dan pemberitahuan terlebih dahulu kepada PENERIMA KREDIT, BNI berhak untuk melakukan penutupan asuransi jiwa PENERIMA KREDIT apabila PENERIMA KREDIT tidak melaksanakan penutupan asuransi (dan premi tetap menjadi beban PENERIMA KREDIT) . BNI dengan ini diberi hak untuk menerima hasil pembayaran klaim dari Perusahaan Asuransi serta memperhitungkan hasil pembayaran klaim tersebut dengan seluruh kewajiban/ outstanding PENERIMA KREDIT kepada BNI apabila BNI menganggap dan mengetahui telah terjadi salah satu risiko (wan prestasi).</li>
                    </ol>
                </ol>
            </td>
        </tr>
        <tr class="page-footer">
            <td></td>
            <td class="page-number">2</td>
        </tr>
    </table>

    <table>
        <tr style="height: 96px;">
            <th></th>
            <th style="padding-right: 3cm;">LAMPIRAN III</th>
        </tr>
        <tr>
            <td valign="top" style="padding:0in 0.25in 0in 0.7in;">
                <ol start="12">
                    <li>PENERIMA KREDIT wajib segera memberitahukan kepada BNI dalam hal :</li>
                    <ol class="level-two" >
                        <li>PENERIMA KREDIT pindah alamat dan atau pindah pekerjaan dan atau dimutasikan ke tempat lain.</li>
                        <li>Adanya perkara yang terjadi antara PENERIMA KREDIT dengan pihak lain.</li>
                    </ol>
                    <li>
                        Terkait dengan Pelunasan Sebelum Jatuh Tempo :<br/>Dalam hal PENERIMA KREDIT akan melunasi BNI Fleksi sebelum jatuh temponya, maka dikenakan biaya sebesar <b>  2 % ( dua persen ) </b> dari sisa outstanding, tunggakan, denda, biaya-biaya lainnya jika ada pada saat pelunasan.

                    </li>

                    <li>
                        Terkait dengan biaya penutupan rekening :<br/>Dalam hal BNI Fleksi telah dinyatakan lunas oleh BNI dan PENERIMA KREDIT akan menutup rekening, maka dikenakan biaya penutupan rekening sebesar <b> Rp.  15.000,- ( lima belas ribu rupiah )</b>.
                    </li>

                    <li>
                        Kuasa Bank Atas Rekening Penerima Kredit:<br/>BNI dengan ini diberi kuasa oleh PENERIMA KREDIT, kuasa mana merupakan bagian yang tidak terpisahkan dari Perjanjian Kredit ini, dan oleh karenanya kuasa ini tidak akan berakhir karena sebab - sebab yang ditentukan oleh pasal 1813 KUHPerdata, untuk sewaktu-waktu tanpa persetujuan terlebih dahulu dari PENERIMA KREDIT, Untuk melakukan tindakan – tindakan sebagai berikut :
                    </li>
                    <ol class="level-two" >
                        <li>Melakukan pemblokiran atas rekening Taplus/TAPPA atas nama PENERIMA KREDIT.</li>
                        <li>Melakukan pendebetan atas rekening Taplus/TAPPA atas nama PENERIMA KREDIT yang ada pada BNI untuk pembayaran angsuran kredit, utang pokok, provisi, bunga kredit, denda tunggakan, biaya-biaya sebagaimana dimaksud pada Pada Perjanjian ini.</li>
                        <li>Melakukan penutupan rekening pinjaman atas nama PENERIMA KREDIT pada saat fasilitas kredit tersebut jatuh tempo.</li>
                    </ol>
                </ol>
            </td>
            <td valign="top" style="padding-right: 1in;">
                <ol start="16">
                    <li>Hukum yang berlaku dalam hal ini adalah Hukum Indonesia dan apabila terdapat perselisihan diantara Bank dan debitur, terlebih dahulu diselesaikan secara musyawarah dan mufakat. Sekiranya hal tersebut belum dapat diselesaikan, maka para pihak setuju untuk menyelesaikan masalah tersebut melalui Pengadilan Negeri di tempat kedudukan Bank.</li>
                    <li>Apabila karena suatu perubahan peraturan perundang-undangan atau kebijakan pemerintah atau keputusan badan peradilan atau arbitase atau karena alasan apapun, salah satu atau lebih dari ketentuan dalam Perjanjian Kredit ini menjadi atau dinyatakan tidak sah, tidak berlaku, tidak mengikat atau tidak dapat dilaksanakan, maka ketentuan-ketentuan lain dalam Perjanjian Kredit ini dinyatakan tetap berlaku dan mengikat Para Pihak dan dapat dilaksanakannya ketentuan-ketentuan lainnya yang terdapat dalam Perjanjian Kredit ini tidak akan dipengaruhi atau dihalangi dengan cara apapun.</li>
                    <li>Para Pihak setuju untuk menggantikan ketentuan yang dinyatakan tidak sah, tidak berlaku, tidak mengikat atau tidak dapat dilaksanakan tersebut dengan ketentuan yang sah, mengikat dan dapat dilaksanakan. Untuk itu PENERIMA KREDIT akan melaksanakan dan menyerahkan dokumen-dokumen tambahan bila diminta oleh BNI untuk memberlakukan setiap ketentuan Perjanjian Kredit ini yang dinyatakan tidak sah, tidak berlaku, tidak mengikat atau tidak dapat dilaksanakan.</li>
                    <li>Perjanjian ini telah disesuaikan dengan ketentuan peraturan perundang-undangan termasuk ketentuan Peraturan Otoritas Jasa Keuangan.</li>
                    <li>Perjanjian Kredit ini berlaku dan mengikat pada saat Perjanjian ini ditandatangani Para Pihak secara elektronik melalui  e-channel BNI , yaitu tanggal <span th:text="${date_sign}"></span> </li>
                    <li>
                        Para Pihak setuju bahwa seluruh informasi elektronik dan/atau dokumen elektronik dan/atau hasil cetaknya merupakan alat bukti hukum yang sah. <br/>
                        <b>
                            PENERIMA KREDIT <span style="padding-left:2in;">BNI</span>
                        </b>
                    </li>
                </ol>
            </td>
        </tr>
        <tr class="page-footer">
            <td></td>
            <td class="page-number">3</td>
        </tr>
    </table>


    <table>
        <tr style="height: 96px;">
            <th></th>
            <th style="padding-right: 3cm;">LAMPIRAN III</th>
        </tr>
        <tr style="height: 645px;">
            <td valign="top" style="padding-left: 1in;">
                <span th:text="${dateNow}"></span>
                <br/>
                <br/>
                <br/>
                <span th:text="${name}"></span>
                <div class="note-bene">*) Perjanjian Kredit BNI Fleksi ini ditandatangani secara elektronik</div>
            </td>
            <td></td>
        </tr>
        <tr class="page-footer">
            <td></td>
            <td class="page-number">4</td>
        </tr>
    </table>
</body>
</html>