<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div.edit{
            color:red;
            font-size:20px;
        }
    </style>
</head>
<body>
    <div class="edit">INI DATA</div>
    <hr>
    <h2>Ini Surat Pinjaman</h2>
    Data nomorAplikasi adalah <b th:text="${nomorAplikasi}"> </b>
    <br>
    Data tglPersetujuan adalah <b th:text="${tglPersetujuan}"> </b>
    <br>
    Data namaDebitur adalah <b th:text="${namaDebitur}"> </b>
</body>
</html>